.app {
	display: grid;
	grid-template-columns: 20rem 1fr;
	grid-template-rows: 8rem 1fr 5rem;
	grid-template-areas:
		'header header '
		'sidebar main-content '
		' footer footer  ';
	margin: auto;
	height: 100vh;
	width: 100%;
	max-width: 170rem;
}

.app-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 4rem;
	align-items: center;
	grid-area: main-content;
}

.app-footer {
	display: flex;
	justify-content: center;
	align-items: center;
	grid-area: footer;
}

.text-field {
	margin: 0;
	max-width: 20vw;
	width: 100%;
	transition: all 0.3s ease-in-out;
}

.btn-disabled {
	background-color: var(--colour-text-grey);
	color: var(--colour-error-second);
	cursor: not-allowed;
}
